.container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

input, textarea, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}